@use "../../utils/variables.scss";

.molecule-conv-block {
  width: 100%;

  &:hover {
    cursor: pointer;
    background-color: variables.$white-background;
  }

  h3 {
    margin: 0;
    padding: 30px 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: variables.$primary-font;
    letter-spacing: 0.5px;
  }
}

.molecule-conv-block-active {
  @include variables.linearGradient(0.4);
}
