@use "../../utils/variables.scss";

.section-conv-bar {
  width: 215px;
  height: calc(100vh - 72px);
  overflow-y: scroll;
  border-right: 2px solid variables.$gray-color;

  .top-content {
    .button-container {
      padding: 20px 10px;
      @include variables.displayCenter();
      button {
        min-width: 0 !important;
      }
    }

    p {
      padding-left: 10px;
      font-size: 14px;
    }
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: variables.$white-color;
    border-radius: 10px;
    border: 1px solid variables.$gray-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-top: 0;
      margin-bottom: 2rem;
    }

    button {
      padding: 10px 20px;
      font-size: 14px;
      margin-top: 2rem;
    }
  }
}
