@use "../../utils/variables.scss";

.section-conv-bar {
  width: 207px;
  height: calc(100vh - 72px);
  overflow-y: scroll;
  border-right: 2px solid variables.$gray-color;

  .button-container {
    padding: 20px 10px;
    @include variables.displayCenter();
  }
}
