//Global variables

$black-color: #131313;
$gray-background: #a5a5a5;
$gray-color: #898989;
$white-color: #fff;
$white-color2: #f2f2f2;
$white-background: #f6f6f6;
$main-color: #69baf0;
$secondary-color: #e0c7ff;
// $info-color: #007ea7;
$info-color: black;
$danger-color: #c33149;
$success-color: #0aaf41;

$input-font: 18px;

$primary-font: "Poppins", sans-serif;

//Global mixins

@mixin cursor() {
  &:hover {
    cursor: pointer;
  }
}

@mixin displayCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
